.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(1px);
    z-index: 10;
}

.modal_container {
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    border: 1px solid black;
    padding: 0.5rem;
}

.form-title {
    text-align: center;
}

.modal-form_container {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
}

.modal-form_group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

button {
    cursor: pointer;
}