.modal_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.modal_container {
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    border: 1px solid black;
    padding: 0.5rem;
    background-color: lightyellow;
}

.form-title {
    text-align: center;
}

.modal-form_container {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
}

.modal-form_group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

button {
    cursor: pointer;
}